body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: inline-block;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: #1b0303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin-top: 50px;
}
